body {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

header {
    margin: auto;
    width: 50%;
    padding: 30px;
    
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 26px;
    letter-spacing: -0.6px;
    word-spacing: 0px;
    color: #000000;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
    text-align: center;
    
}

#main {
    margin: auto;
    width: 70%;
    height: 100%;
    /* border: 3px solid green; */
    padding: 100px;
    text-align: center;
    font-size: 25px;
    /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
    
}

div#working-space {
    /* border: 3px solid green; */
    width: 100%;
    margin: auto;
    padding: 20px;
}


#sidebar  {
    width: 130px;
    position: fixed;
    z-index: 0;
    border: 3px solid green;
    top: 100px;
    left: 55px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    opacity: 70%;

    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

#sidebar:hover {
    opacity:100%;
}

#sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

#sidebar a:hover {
    color: #064579;
}

#pet-pic {
    width: 35%;
    height: 20vw;
}


.bg-modal {
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 1); */
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#new-pet-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.70);
    /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */

    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

#new-post-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.70);
    /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */

    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

#view-post-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.70);
    /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */

    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

#view-post-modal-content{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 5%;
}


.modal-contents {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 5%;
}

.close {
    position: absolute;
    top: 0;
    right: 14px; 
    font-size: 42px; 
    transform: rotate(45deg);
    cursor: pointer;
}

input {
    width: 50%;
    display: block; 
    margin: 20px auto;
}

div#profile-name {
    color: blue;
    font-size: 40px;
    text-align: center;
}

div#pet-title {
    /* adds flex to make 3 images per row */
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-evenly;


    color: red;
    font-size: 20px;
    text-align: center;
}

div.pet-card {
/* adds flex style to each card( 3 per row) */
    list-style: none;
    /* flex: 0 0 33.333333%; */
    position: relative;
    overflow: hidden; 

    float: left;
    width:  250px; 
    height: 250px;
    object-fit: cover;
    opacity: 80%;
}

div.pet-card:hover {
    opacity: 100%;
}

img.pet-pic {
    width: 250px;
    height: 250px;
    padding: 10px
}

img#add-pet-button {
    width: 50px;
    height: 50px;
    float: right;
    cursor: pointer;
}

img#add-post-button {
    position: relative;
    top: 0;
    right: 14px; 
    width: 50px;
    height:50px;
    cursor: pointer;
    margin: 20px;
}

img#pet-page-pet-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

div#pet-description {
    font-size: 15px;
}

img#post-img {
    width: 100px;
    height: 100px;
}

#post-caption {
    font-size: 10px;
}





/* add post pics */

div#pet-post {
    /* adds flex to make 3 images per row */
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-evenly;


    color: red;
    font-size: 20px;
    text-align: center;
}

div.post-div {
/* adds flex style to each card( 3 per row) */
    list-style: none;
    /* flex: 0 0 33.333333%; */
    position: relative;
    overflow: hidden; 

    float: left;
    width:  250px; 
    height: 250px;
    object-fit: cover;
    opacity: 80%;
 
}

div.post-div:hover {
    opacity: 100%;
}

img.post-img {
    width: 250px;
    height: 250px;
    padding: 10px
}

.left-half {
    width: 50%;
    float: left;
}

.right-half {
    background-color: #b6701e;
    width: 40%;
    float: right;
}

img#view-post-img {
    /* make img fill the div */
    height: 250px;
    width: 250px;
}